

:root {
	--major-label-color: #000000;
	--minor-label-color: #770000;
	--highlight-color: #AA0000;
	--full-page-color: #FFFAF0;
	--page-text-color: #000000;
	--page-link-color: #000088;
	--page-vlink-color: #660066;
	--page-alink-color: #888800;
	--link-hover-color: #CC8800;
}

