
:root {
	--minor-label-color: #000077;
	--highlight-color: #0000FF;
}

.leader {
	color: #008800;
}

.congr {
	color: #AA8800;
}

.placehold {
	font-family: "Bradley Hand";
}

.instruction {
	font-family: "Bradley Hand";
}

div.section_label {
	font-size: 300%;
	font-family: "Bradley Hand";
}



