
/*
Unicode Symbols:
http://unicode-table.com/en/#miscellaneous-symbols
*/

body {
	background-color: var(--full-page-color);
}

a:hover {
	color: var(--link-hover-color);
}

a:link {
	color: var(--page-link-color);
}

a:visited {
	color: var(--page-vlink-color);
}

a:active {
	color: var(--page-alink-color);
}

.highlight_big {
	color: var(--highlight-color);
	font-size: 200%;
}

.highlight_reg {
	color: var(--highlight-color);
}

.corewords {
	font-size: 150%;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}


/* The 'placehold' class is distinct from the 'instruction' class in that */
/* it is intended for areas where a text is unavailable to announce that */
/* a text will go here when available ---- as opposed to the 'instruction' */
/* class that provides notes related to how the liturgy proceeds. */
.placehold {
	font-style: italic;
}

.placehold:before {
	content: "(";
}

.placehold:after {
	content: ")";
}

div.placehold {
	margin-top: 4px;
	margin-bottom: 4px;
}

.leader {
	text-decoration: none;
}
div.leader {
	margin-top: 4px;
	margin-bottom: 4px;
}

.qleader {
	text-decoration: none;
}
div.qleader {
	margin-top: 4px;
	margin-bottom: 4px;
}
.qleader:before {
	font-weight: bold;
	color: var(--highlight-color);
	content: "** < < ";
}
.qleader:after {
	font-weight: bold;
	color: var(--highlight-color);
	content: " > > **";
}

/* \27C1 - \27C3 - \27D7 - \2ADA */
.smb_act01:before {
	font-size: 120%;
	color: var(--highlight-color);
	content: "\04B0";
}

.smb_act02:before {
	font-size: 120%;
	color: var(--highlight-color);
	content: "\04B4 d";
}

.smb_act03:before {
	font-size: 120%;
	color: var(--highlight-color);
	content: "\04C1";
}

.smb_act04:before {
	font-size: 120%;
	color: var(--highlight-color);
	content: "\04DE";
}

.congr {
	text-decoration: underline;
}
div.congr {
	margin-top: 4px;
	margin-bottom: 4px;
}

div.lect_lblf {
	margin-top: 10px;
}

div.prayer_lblf {
	margin-top: 10px;
}


div.lect_label {
  color: var(--minor-label-color);
  font-weight: bold;
  font-style: italic;
  font-size: 120%;
}

div.lect_label:before {
  content: "---- ";
}

div.section_label {
	color: var(--major-label-color);
	font-weight: bold;
	font-size: 150%;
}

div.prayer_label {
  color: var(--minor-label-color);
  font-weight: bold;
  font-style: italic;
  font-size: 120%;
}

div.prayer_label:before {
  content: "- - ";
}

.instruction {
	color: var(--highlight-color);
	text-decoration: none;
}
div.instruction {
	margin-top: 4px;
	margin-bottom: 4px;
}

.instruction:before {
	content: "(";
}

.instruction:after {
	content: ")";
}

